@import 'variables',
        'navbar',
        'user',
        'course',
        'login',
        'post',
        'footer',
        'highlighter';
@import 'animation/animation',
        'animation/fadeIn_down',
        'animation/fadeOut_up';


body {
  font-family: $root-font-en, $root-font-zh !important;
}
.bq {
  color: rgb(170, 102, 144);
	font-weight: bold;
	font-style: italic;
	margin: 1em 3em;
	padding-left: 1em;
  border-left: 5px solid #7cfcfc; 
  p:before {
    content: '"'; }
  p:after {
      content: '"'; }
}
strong {
  font-size: 1.2rem;
}
.imgs { max-height: 15vh;}
.imgb { max-height: 30vh;} 
.text-gray{ color: rgb(92, 92, 92); }
.text-light-gray{ color: rgb(136, 135, 135); }
