<div class="course-map" id="#course-map">
    <div class="container py-2">
        <div class="row">
            <div class="col-12">
                <p class="text-center">Course Map</p>
            </div>
        </div>
        <!-- Map start-->
        <div class="course-list-area py-3">
            <div class="section-wapper">
                <article class="section">
                    <header class="section-header">
                        <div class="section-meta"><i class="fa fa-book fa-fw"></i></div>
                        <a href="{%- post_url 2019-12-24-startup -%}" class="section-title">Start-up</a>
                    </header>
                </article>
                <article class="section">
                    <header class="section-header">
                        <div class="section-meta">0. </div>
                        <a href="{%- post_url 2019-12-24-startup -%}#0-前言" class="section-title">前言</a>
                    </header>
                </article>
                <article class="section">
                    <header class="section-header">
                        <div class="section-meta">1. </div>
                        <a href="{%- post_url 2019-12-24-startup -%}#1-ilspy-基本介紹" class="section-title">ILSpy 基本介紹</a>
                    </header>
                </article>
                <article class="section">
                    <header class="section-header">
                        <div class="section-meta">2. </div>
                        <a href="{%- post_url 2019-12-24-startup -%}#2-ilspy-反編譯實例" class="section-title">ILSpy 反編譯實例</a>
                    </header>
                </article>
            </div>
        </div><!--End Start up-->

        <div class="course-list-area py-3">
            <div class="section-wapper">
                <article class="section">
                    <header class="section-header">
                        <div class="section-meta"><i class="fa fa-book fa-fw"></i></div>
                        <a href="{%- post_url 2019-12-24-obfuscation -%}" class="section-title">簡易抗反編譯( I ) - Obfuscation</a>
                    </header>
                </article>
                <article class="section">
                    <header class="section-header">
                        <div class="section-meta">0. </div>
                        <a href="{%- post_url 2019-12-24-obfuscation -%}#0-前言" class="section-title">前言</a>
                    </header>
                </article>
                <article class="section">
                    <header class="section-header">
                        <div class="section-meta">1. </div>
                        <a href="{%- post_url 2019-12-24-obfuscation -%}#1-人工-obfuscation" class="section-title">人工混淆</a>
                    </header>
                </article>
                <article class="section pl-5">
                    <header class="section-header">
                        <div class="section-meta"></div>
                        <a href="{%- post_url 2019-12-24-obfuscation -%}#oleet" class="section-title">Are you l33t? 火星文</a>
                    </header>
                </article>
                <article class="section pl-5">
                    <header class="section-header">
                        <div class="section-meta"></div>
                        <a href="{%- post_url 2019-12-24-obfuscation -%}#opointer" class="section-title">Pointer Obfuscation(指標混淆)</a>
                    </header>
                </article>
                <article class="section pl-5">
                    <header class="section-header">
                        <div class="section-meta"></div>
                        <a href="{%- post_url 2019-12-24-obfuscation -%}#oXOR" class="section-title">XOR 位元運算子混淆</a>
                    </header>
                </article>
                <article class="section pl-5">
                    <header class="section-header">
                        <div class="section-meta"></div>
                        <a href="{%- post_url 2019-12-24-obfuscation -%}#oif" class="section-title">? 條件運算子混淆</a>
                    </header>
                </article>
                <article class="section pl-5">
                    <header class="section-header">
                        <div class="section-meta"></div>
                        <a href="{%- post_url 2019-12-24-obfuscation -%}#ofor" class="section-title">Recursion Obfuscation(遞迴混淆)</a>
                    </header>
                </article>
                <article class="section">
                    <header class="section-header">
                        <div class="section-meta">2. </div>
                        <a href="{%- post_url 2019-12-24-obfuscation -%}#2-綜合大混淆" class="section-title">綜合大混淆 - Hello World!</a>
                    </header>
                </article>
            </div>
        </div><!-- End Obfuscation -->
        
        
    </div>
</div>