<div class="login">
    <div class="container wapper text-center text-white">
        <h1 >Login</h1>
        <div class="input-group my-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="uuid">Student No.</span>
            </div>
            <input type="text" class="form-control" placeholder="e.g.U123345678" aria-label="Username" aria-describedby="uuid" name="uuid">
        </div>
        <div class="input-group my-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="names">Name</span>
            </div>
            <input type="text" class="form-control" placeholder="Your Name" aria-label="Password" aria-describedat="names" name="names">
            <div class="input-group-append">
                <button type="button" name="login" class="btn btn-outline-light" onclick="onClicked();">Login</button>
            </div>
        </div>
    </div>
    <script>
        var CheckLoginOnce = (function(){
                var executed = false;
                if(localStorage.isLogin)    window.location.href = "user.html";
                console.log("Hello world!");
                return function(){  if (!executed) executed = true; };
            })();
            CheckLoginOnce();
            
        var names = document.getElementsByName('names');
        var uuid = document.getElementsByName('uuid');
        function onClicked() {
            if(names[0].value != "" && uuid[0].value != ""){
                localStorage.setItem("uuid",uuid[0].value);
                localStorage.setItem("name",names[0].value);
                window.location.href = "user.html";
                localStorage.setItem("isLogin", true);
            }else {
                alert("請輸入完整ID與名稱!!");
            }
            
        }
    </script>

</div>
    